/* We Vote main.css, MIT License */
body {
  color: #333;
  font-family: 'Nunito Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  position: relative;
  z-index: 0;
}

.u-cursor--pointer:hover {
  cursor: pointer;
}

.u-link-color {
  color: #4371cc;
}

.u-no-break { /* Replacement for nobr and &nbsp */
  white-space: nowrap;
}

.profile-photo {
  border-radius: 14px;
}

/* Hide when 576px or greater
   At 576px we see tablet and larger */
@media (min-width: 576px) {
  .u-show-mobile {
    display: none !important;
  }
}

/* Hide when 992px or greater
   At 991px we see mobile-tablet
   At 992px we see desktop or larger */
@media (min-width: 992px) {
  .u-show-mobile-tablet {
    display: none !important;
  }
}

/* Hide when 991px or less
   At 991px we see mobile-tablet
   At 992px we see desktop or larger */
@media (max-width: 991px) {
  .u-show-desktop {
    display: none !important;
  }
}

/* Hide when 575px or less
   At 575px we see mobile
   At 576px we see tablet or larger */
@media (max-width: 575px) {
  .u-show-desktop-tablet {
    display: none !important;
  }
}

/* Used to drop SupportButtonFooter beneath Modals */
.u-z-index-1000 {
  z-index: 1000 !important;
}

/* Used to keep the mobile footer & header above Popovers */
.u-z-index-9000 {
  z-index: 9000 !important;
}
